NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SMTP_HOST=buzzword-com-mx.mail.protection.outlook.com
SMTP_PORT=25
SMTP_FROM=ERP CSI <noreply@buzzword.com.mx>
CRON_SECRET=
SAT_ENCRYPTION_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
